<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="loginPage.css">
        <title>Login</title>
    </head>


    <body>

        <div class="header">
            <h1>Welcome to Abroad </h1>
        </div>

            <div class="login">
                <h2>An easier way to connect</h2>
                <div class="col-auto-sm">
                    <form class="loginForm" novalidate>
                        <div class="form-group">
                            <p>Username</p>
                            <input type="username" class="form-control" id="user" placeHolder="Username" size=30 required>
                            <div class="invalid-feedback">
                            </div>
                        </div>

                        <div class="form-group">
                            <p>Password</p>
                            <input type="password" class="form-control" id="pass" placeHolder="Password" name="passkey" size=30 required>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <button type="Login" class="btn btn-primary" href="./homePage.html">Login</button>
                        
                        <small class="form-text text-muted">
                            <a href="/register">
                                Create Account
                            </href>
                        </small>
                    </form>

                <script>
                    console.log(getCookie("username"));
                    window.addEventListener('load', function() {
                        var forms = document.getElementsByClassName('loginForm');
                        var validation = Array.prototype.filter.call(forms, function(form) {
                            form.addEventListener('submit', function(event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                else {
                                    event.preventDefault();
                                    let nameInput=document.getElementById("userNameInput").value;
                                    let passInput=document.getElementById("passwordInput").value;

                                    var reqUrl=window.location.href + '/submit';
                                    $.post(reqUrl,{userNameInput:nameInput,passwordInput:passInput})
                             
                                    .done(function(data) {
                                        const validLogin=data.validLogin;
              
                                        if(validLogin===true) {
                                            window.location.pathname='home';
                                            alert(`Login Successful`);
                                        }
                    
                                        else {
                                            console.log("Login Failed");
                                            alert(`Invalid Username or Password`);
                                        }

                                    })
                                    .fail(function(data) {
                                        console.log('fail')
                                    });
                      
                                    
                                }
                                form.classList.add('was-validated');
                                
                               
                            }, false);
                        });
                    }, false);

                   
                </script>
            </div>
        

        <!-- Bootstrap Dependencies -->
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      
    </body>


</html>